html, body, .sidebar-main{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.content{
	margin-left:75px;
}

.sidebar-main{
	margin:0px;
	padding: 5px;
	background-color: #a4a5a6;
	width: 90px;
	position: absolute;

	.side-icon, .logo{
		margin-bottom: 5px;
		background-color: #cfcfcf;
	}
	.side-icon:hover, .logo:hover{
		cursor:pointer;
	}
	.side-icon{
		height: 90px;
	}
	.logo{
		height: 120px;
	}
}

.sidebar-sub{
	width:0px;
    position: absolute;
	z-index: 1;
	margin-left: 90px;
	background-color: #cfcfcf;
	height: 100%;
	 /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: .4s;
    -webkit-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: linear;
    
    &.open {
    	width: 300px;
    }
}

.header{
	height: 320px;
	background-image:url();
	.playbar{
		height:120px;
		margin-top: 200px;
		background-color: #a4a5a6;
	}
}

.modal-content{
	box-shadow: none;
	border-radius: 0px;
}
.modal-body{
	min-height: 100px;
	max-height: 450px;
    overflow-y: auto;
}