@font-face {
  font-family: "One";
  src: url(fonts/AWConquerorCarved/AWConquerorCarved-One.otf) format("opentype");
}
@font-face {
  font-family: "Light";
  src: url(fonts/AWConquerorSans/AWConquerorSans-Light.otf) format("opentype");
}

html, body, .sidebar-main{
	font-family: "Light", sans-serif; 
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.content{
	margin-left:75px;
	padding-right: 0px;
}

.sidebar-main{
	margin:0px;
	padding: 5px;
	background-color: #a4a5a6;
	width: 90px;
	position: absolute;

	.side-icon, .logo{
		margin-bottom: 5px;
	}
	.side-icon:hover, .logo:hover{
		cursor:pointer;
	}
	.side-icon{
		height: 90px;
		img{
			height:54px;
			width: 44px;
			margin: 18px;
		}
	}
	.logo{
		height: 90px;

		svg{
			margin: 8px;
			path, polygon, rect{
				fill: #dbdbdb;
			}
		}
	}
}

.sidebar-sub{
	width:0px;
    position: absolute;
	z-index: 1;
	margin-left: 90px;
	background-color: #bdbdbd;
	height: 100%;
	 /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: .4s;
    -webkit-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: linear;
    
    &.open {
    	width: 300px;
    }
}

/*Player Bar*/
.header{
	height: 320px;
	padding-right: 0px;
	background-image:url();
	.playbar{
		height:120px;
		background-color: #dbdbdb;
		margin-top: 200px;

		.main-btns {
			max-height:50px;
			img{
				max-width: 70px;
				margin: 10px;
			}
		}
		.sub-btns svg{
			max-width: 40px;
			margin: 12px;
			margin-left: 0px;	
			path {
				fill: #a4a5a6;
			}	
		}
	}
}


/* General Site Wide */

.modal-content{
	box-shadow: none;
	border-radius: 0px;
}
.modal-body{
	min-height: 100px;
	max-height: 450px;
    overflow-y: auto;
}

.btn{
	border-radius:0px;
}