@font-face {
  font-family: "One";
  src: url(fonts/AWConquerorCarved/AWConquerorCarved-One.otf) format("opentype");
}
@font-face {
  font-family: "Light";
  src: url(fonts/AWConquerorSans/AWConquerorSans-Light.otf) format("opentype");
}

html, body, .sidebar-main{
	font-family: "Light", sans-serif; 
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.content{
	margin-left:75px;
	padding-right: 0px;
}

.sidebar-main{
	z-index: 20;
	margin:0px;
	padding: 5px;
	background-color: #a4a5a6;
	width: 90px;
	position: fixed;

	.side-icon, .logo{
		margin-bottom: 5px;
	}
	.side-icon:hover, .logo:hover{
		cursor:pointer;
	}
	.side-icon{
		cursor: pointer;
		height: 90px;
		img{
			
			width: 44px;
			margin: 18px;
		}
		p{
			font-family: "One", sans-serif; 	
		}
	}
	.logo{
		cursor: pointer;
		height: 90px;
		margin-top:50px;
		margin-bottom:50px;
		svg{
			margin: 8px;
			path, polygon, rect{
				fill: #dbdbdb;
			}
		}
	}
}

.sidebar-sub{
	width:0px;
    position: fixed;
	z-index: 1;
	margin-left: 90px;
	background-color: #bdbdbd;
	height: 100%;
	 /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: .4s;
    -webkit-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: linear;
    
    &.open {
    	width: 400px;
    }
    ul{
    	overflow: hidden;
    	list-style: none;
    	padding: 0px;
    	li{
    		color:white;
    		clear:both;
    		img{
    			float:left;
    			margin: 10px;
    		}
    		.artist{
    			font-family: "One", sans-serif;
    			padding:10px;
    			padding-top:20px;
    		}
    	}
    }
}

/*Spalsh Page*/
#splash{
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
	background-color:#555;
	#back{
		position: absolute;
		max-width:100%;
	}
	#splashlogo{
		position:absolute;
		max-width:100%;
		path, polygon, rect{
				fill: rgba(256,256,256,0.7);
			}
	}
	#splash-btn{
		position:absolute;
		max-width:100%;
		path, polygon, rect, text{
			cursor: pointer;
			fill: rgba(256,256,256,0.7);
		}
		path:hover, polygon:hover, rect:hover, text{
			fill: rgba(256,256,256,0.9);
		}
	}

}

/*Player Bar*/
.header{
	max-width:100%;
	height: 336px;
	padding-right: 0px;
	background-image:url('../img/headerimage.jpg');
	.playbar{
		height:136px;
		background-color: #dbdbdb;
		margin-top: 200px;
		padding-top:12px;

		.main-btns {
			max-height:50px;
			img{
				height:50px;
				max-width: 70px;
				margin: 10px;
				cursor: pointer;
			}
		}
		.sub-btns svg{
			cursor: pointer;
			max-width: 40px;
			margin: 12px;
			margin-left: 0px;	
			path {
				fill: #a4a5a6;
			}	
		}

		.infobox{
			background-color:#ffffff;
			height: 112px;
			padding: 20px;
			width:95%;
			h4{
				font-family: "One", sans-serif;
			}
			h5{
				font-family: "Light", sans-serif;
			}
		}
	}
}


/* General Site Wide */

.modal-content{
	box-shadow: none;
	border-radius: 0px;
}
.modal-body{
	min-height: 100px;
	max-height: 450px;
    overflow-y: auto;
}

.btn{
	border-radius:0px;
}

/*Table Style*/
td{
	img{
	height:18px;
	}
}