<!doctype html>
<html lang="en" ng-app="wave">
<head>
  <meta charset="utf-8">
  <title>Wave Player</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="lib/soundmanager2.js"></script>
  <script src="lib/lodash.js"></script>
  <script src="lib/draganddrop.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/hack.js"></script>
</head>
<body>
  <div class="sidebar-main pull-left text-center">
    <div class="logo">
      <svg version="1.1" id="logoshape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 42.593 43.543" style="enable-background:new 0 0 42.593 43.543;" xml:space="preserve">
      <g>
        <g>
          <g>
            <path d="M21.5,8.784L34,15.989v11.583l-12.559,7.24L9,27.641V15.989L21.5,8.784 M21.5,5.298L6,14.278
              v15.073l15.441,8.947L37,29.283V14.278L21.5,5.298L21.5,5.298z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M42.593,10.414"/>
          </g>
        </g>
        <g>
          <g>
            <polygon points="42,18.825 39,18.825 39,12.652 34.293,9.683 35.893,7.146 42,10.998      "/>
          </g>
        </g>
        <g>
          <g>
            <path style="stroke:#010101;stroke-miterlimit:10;" d="M11.051,32.961"/>
          </g>
        </g>
        <g>
          <g>
            
              <rect x="26.421" y="36.73" transform="matrix(0.5001 0.866 -0.866 0.5001 48.9502 -3.9786)" width="3" height="7.352"/>
          </g>
        </g>
        <g>
          <g>
            
              <rect x="29.604" y="4.477" transform="matrix(0.845 0.5348 -0.5348 0.845 8.0175 -15.7068)" width="3" height="3"/>
          </g>
        </g>
        <g>
          <g>
            
              <rect x="37.297" y="32.461" transform="matrix(-0.8742 0.4856 -0.4856 -0.8742 89.2031 44.81)" width="3" height="3"/>
          </g>
        </g>
        <g>
          <g>
            <polygon points="6.106,36.467 0,32.614 0,24.825 3,24.825 3,30.96 7.708,33.93      "/>
          </g>
        </g>
        <g>
          <g>
            <rect x="0.014" y="18.303" width="3.045" height="3.045"/>
          </g>
        </g>
        <g>
          <g>
            
              <rect x="13.961" y="-1.03" transform="matrix(0.5013 0.8653 -0.8653 0.5013 10.8579 -11.5641)" width="3" height="9.335"/>
          </g>
        </g>
      </g>
      </svg>
    </div>
    <div class="side-icon" id="i-queue">
      <img src="img/queue.svg" style="padding-top:20px;">
      <p>QUEUE</p>
    </div>
    <div class="side-icon" id="i-playlist">
      <img src="img/playlist.svg">
      <p>PLAYLIST</p>
    </div>
    <div class="side-icon" id="i-profile">
      <img src="img/user.svg">
      <p>PROFILE</p>
    </div>
  </div>
  <div class="sidebar-sub">
  </div>

  <div class="container-fluid content" id="splash" style="display:none">
    <img src="img/splashimage.jpg" id="back">
    <svg id="splashlogo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 2000 1335" enable-background="new 0 0 2000 1335" xml:space="preserve">
    <g>
      <g>
        <g>
          <path d="M954.6,690.2l-66.4,163h18.6l19.2-49h70.8l19.4,49h18.9l-65.9-163H954.6z M961.3,714l17.5,44.2h-34.9
            L961.3,714z M932,789.2l6-15h46.9l6,15H932z"/>
        </g>
        <g>
          <polygon points="1078.3,828.8 1022.9,690.2 1003.9,690.2 1070.3,853.2 1085,853.2 1151.9,690.2 1133.1,690.2      
            "/>
        </g>
        <g>
          <polygon points="1183.3,838.2 1183.3,804.2 1254.3,804.2 1254.3,789.2 1183.3,789.2 1183.3,774.2 1254.3,774.2 
            1254.3,758.2 1183.3,758.2 1183.3,705.2 1261.3,705.2 1261.3,690.2 1164.3,690.2 1164.3,853.2 1265.3,853.2 1265.3,838.2      "/>
        </g>
        <g>
          <polygon points="920.1,690.2 920.1,690.2 901.4,690.2 846.5,828.7 830.8,789.2 830.8,789.2 827.9,782 
            865.4,690.2 846.7,690.2 819.1,760 791.2,690.2 772.2,690.2 809.9,782.8 807.3,789 807.3,789 791.8,828.6 736.5,690.2 
            717.5,690.2 717.5,690.2 717.5,690.2 783.9,853.2 798.6,853.2 818.7,804.2 838.6,853.2 853.3,853.2 920.1,690.2       "/>
        </g>
      </g>
      <g>
        <path d="M1000.8,443.6l306.5,177.5v296.5l-307.7,178.1L694.3,918.9V621.1L1000.8,443.6 M1000.3,426.1l-323,186.2
          v315.4l321.8,185.5l324.2-186.9v-314L1000.3,426.1L1000.3,426.1z"/>
      </g>
      <g>
        <polygon points="1353.3,740.2 1337.3,740.2 1337.3,605.8 1337.5,594.2 1225.3,529.2 1232.9,516.1 1352.9,585.4 
          1353.3,605.7    "/>
      </g>
      <g>
        <polygon points="766.6,1021.9 646.7,952.7 646.3,932.1 646.3,798.2 662.3,798.2 662.3,932 662.1,943.8 
          774.5,1008.8    "/>
      </g>
      <g>
        
          <rect x="1072.2" y="1018.7" transform="matrix(0.5 0.866 -0.866 0.5 1490.3145 -386.4201)" width="15.2" height="157.5"/>
      </g>
      <g>
        
          <rect x="912.4" y="364.3" transform="matrix(0.5 0.866 -0.866 0.5 843.7302 -575.2148)" width="15.2" height="157.5"/>
      </g>
      <g>
        <g>
          
            <rect x="1200.5" y="502" transform="matrix(0.5 -0.866 0.866 0.5 162.7729 1301.0496)" width="15.2" height="15.2"/>
        </g>
      </g>
      <g>
        <g>
          <rect x="646.3" y="759.2" width="16" height="17"/>
        </g>
      </g>
      <g>
        <g>
          
            <rect x="1311.4" y="953.4" transform="matrix(-0.5 -0.866 0.866 -0.5 1146.1752 2583.7256)" width="15.2" height="15.2"/>
        </g>
      </g>
    </g>
    <g display="none">
      <polygon display="inline" points="999.1,1073 1208.1,952.2 790.1,952.2  "/>
    </g>
    </svg>
    <svg version="1.1" id="splash-btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 2000 1335" enable-background="new 0 0 2000 1335" xml:space="preserve">
    <g display="none">
      <g display="inline">
        <g>
          <path class="splash-btn" d="M954.6,690.2l-66.4,163h18.6l19.2-49h70.8l19.4,49h18.9l-65.9-163H954.6z M961.3,714l17.5,44.2h-34.9
            L961.3,714z M932,789.2l6-15h46.9l6,15H932z"/>
        </g>
        <g>
          <polygon class="splash-btn" points="1078.3,828.8 1022.9,690.2 1003.9,690.2 1070.3,853.2 1085,853.2 1151.9,690.2 1133.1,690.2      
            "/>
        </g>
        <g>
          <polygon class="splash-btn" points="1183.3,838.2 1183.3,804.2 1254.3,804.2 1254.3,789.2 1183.3,789.2 1183.3,774.2 1254.3,774.2 
            1254.3,758.2 1183.3,758.2 1183.3,705.2 1261.3,705.2 1261.3,690.2 1164.3,690.2 1164.3,853.2 1265.3,853.2 1265.3,838.2      "/>
        </g>
        <g>
          <polygon class="splash-btn" points="920.1,690.2 920.1,690.2 901.4,690.2 846.5,828.7 830.8,789.2 830.8,789.2 827.9,782 
            865.4,690.2 846.7,690.2 819.1,760 791.2,690.2 772.2,690.2 809.9,782.8 807.3,789 807.3,789 791.8,828.6 736.5,690.2 
            717.5,690.2 717.5,690.2 717.5,690.2 783.9,853.2 798.6,853.2 818.7,804.2 838.6,853.2 853.3,853.2 920.1,690.2       "/>
        </g>
      </g>
      <g display="inline">
        <path class="splash-btn" d="M1000.8,443.6l306.5,177.5v296.5l-307.7,178.1L694.3,918.9V621.1L1000.8,443.6 M1000.3,426.1l-323,186.2
          v315.4l321.8,185.5l324.2-186.9v-314L1000.3,426.1L1000.3,426.1z"/>
      </g>
      <g display="inline">
        <polygon class="splash-btn" points="1353.3,740.2 1337.3,740.2 1337.3,605.8 1337.5,594.2 1225.3,529.2 1232.9,516.1 1352.9,585.4 
          1353.3,605.7    "/>
      </g>
      <g display="inline">
        <polygon class="splash-btn" points="766.6,1021.9 646.7,952.7 646.3,932.1 646.3,798.2 662.3,798.2 662.3,932 662.1,943.8 
          774.5,1008.8    "/>
      </g>
      <g display="inline">
        
          <rect class="splash-btn" x="1072.2" y="1018.7" transform="matrix(0.5 0.866 -0.866 0.5 1490.3145 -386.4201)" width="15.2" height="157.5"/>
      </g>
      <g display="inline">
        
          <rect x="912.4" y="364.3" transform="matrix(0.5 0.866 -0.866 0.5 843.7302 -575.2148)" width="15.2" height="157.5"/>
      </g>
      <g display="inline">
        <g>
          
            <rect class="splash-btn" x="1200.5" y="502" transform="matrix(0.5 -0.866 0.866 0.5 162.7729 1301.0496)" width="15.2" height="15.2"/>
        </g>
      </g>
      <g display="inline">
        <g>
          <rect class="splash-btn" x="646.3" y="759.2" width="16" height="17"/>
        </g>
      </g>
      <g display="inline">
        <g>
          
            <rect class="splash-btn" x="1311.4" y="953.4" transform="matrix(-0.5 -0.866 0.866 -0.5 1146.1752 2583.7256)" width="15.2" height="15.2"/>
        </g>
      </g>
    </g>
    <g opacity="0.7">
      <polygon class="splash-btn" fill="#36403D" points="999.1,1073 1208.1,952.2 790.1,952.2   "/>
    </g>
    <g>
      <g>
        <g>
          <path class="splash-btn" d="M1008.8,1050.2l6.8-35.3l16,21.1L1008.8,1050.2z M1017.9,1025l-3.2,16.6l10.7-6.7L1017.9,1025z"/>
        </g>
      </g>
      <g>
        <g>
          <path class="splash-btn" d="M986.8,1050.2L964,1036l16-21.1L986.8,1050.2z M970.1,1034.9l10.7,6.7l-3.2-16.6L970.1,1034.9z"/>
        </g>
      </g>
      <g>
        <polygon class="splash-btn" points="978.9,1031.3 973,1000.5 998.1,994 1022.1,1000.2 1016.8,1030.7 1012.7,1030 1017.3,1003.3 
          998.1,998.3 977.9,1003.6 983,1030.5     "/>
      </g>
    </g>
    <text class="splash-btn" transform="matrix(1 0 0 1 881.5386 981.6147)" font-family="One" font-size="20.4962">click here to listen</text>
    </svg>
  </div>

  <div id="app" style="" class="container-fluid content">
    <div class="row">
      <div class="col-md-12 header" ng-controller="PlayCtrl">
        <div class="playbar">
          <div class="col-md-4" id="player-thumbs">
            <img class="player-thumb" src="">
            <img class="player-thumb" src="">
            <img class="player-thumb" src="">
          </div>
          <div class="col-md-4 text-center">
            <div class="row text-center main-btns">
              <div class="col-md-10 col-md-offset-1">
                <div class="row text-center">
                  <div class="col-md-4" ng-click="previous()">
                    <img src="img/previous.svg">
                  </div>
                  <div class="col-md-4" ng-if="!Player.playing" >
                    <img src="img/play.svg" ng-click="play()">
                  </div>
                  <div class="col-md-4" ng-if="Player.playing" >
                    <img src="img/pause.svg" id="pause" ng-click="pause()">
                  </div>
                  <div class="col-md-4" ng-click="next()">
                    <img src="img/next.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center sub-btns">
              <div class="col-md-2 col-md-offset-4">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.919 37.333" style="enable-background:new 0 0 53.919 37.333;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M11.583,30.362L0,25.062V12.304L11.583,7.19V30.362z M3.072,22.941l5.44,2.343V12.222l-5.44,2.183
                      V22.941z"/>
                  </g>
                  <g>
                    <g>
                      <path d="M29.936,37.333l-16-6.815V7.001l16-7.001V37.333z M16.936,28.535l10,4.259V4.587l-10,4.376V28.535
                        z"/>
                    </g>
                  </g>
                  <path d="M34.468,14.678c0.922,0,1.952,1.497,1.952,3.5c0,2.003-1.03,3.5-1.952,3.5h-1.279l2.136,2.9
                    c2.354-0.519,4.095-3.141,4.095-6.4c0-2.95-1.425-5.381-3.441-6.202l-1.99,2.702H34.468z"/>
                  <path d="M38.742,9.678c2.93,0,5.404,3.893,5.404,8.5s-2.475,8.5-5.404,8.5h-1.871l2.194,2.978
                    c4.556-0.227,8.081-5.18,8.081-11.478c0-5.952-3.147-10.703-7.337-11.402l-2.137,2.902H38.742z"/>
                  <path d="M42.016,4.678c4.884,0,8.856,6.056,8.856,13.5c0,7.444-3.973,13.5-8.856,13.5h-1.08v0.265
                    l1.884,2.685c6.206-0.517,11.098-7.687,11.098-16.45c0-8.414-4.575-15.364-10.43-16.364l-2.133,2.864H42.016z"/>
                </g>
                </svg>
              </div>
              <div class="col-md-2">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.204 26.927" style="enable-background:new 0 0 43.204 26.927;" xml:space="preserve">
                <g id="old_shuffle">
                  <path d="M0,23.676c6.719,0,10.179-2.98,13.843-8.253c3.785-5.448,8.076-11.624,16.471-11.624
                    c0.851,0,1.541,0.69,1.541,1.541s-0.69,1.541-1.541,1.541c-6.784,0-10.26,5.003-13.94,10.3C12.419,22.872,8.33,26.757,0,26.757"/>
                  <g>
                    <path d="M30.314,21.055c-4.825,0-7.976-2.693-10.725-6.263c-0.624,0.834-1.243,1.711-1.872,2.615
                      c3.066,3.791,6.813,6.729,12.597,6.729c0.851,0,1.541-0.69,1.541-1.541S31.165,21.055,30.314,21.055z"/>
                    <path d="M0,3.082c6.695,0,10.156,3.251,13.822,8.81c0.161,0.244,0.322,0.488,0.483,0.731
                      c0.624-0.866,1.28-1.74,1.981-2.591C12.367,4.087,8.278,0,0,0"/>
                  </g>
                  <g>
                    <path d="M29.645,0.427v9.501l13.559-4.672L29.645,0.427z"/>
                  </g>
                  <g>
                    <path d="M29.645,17.427v9.501l13.559-4.672L29.645,17.427z"/>
                  </g>
                </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="infobox text-center">
              <h4>Artist</h4>
              <h5>Song Title</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 track">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addToPlay">
          Launch Add Modal
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid content routes">
    <div ui-view>
    </div>
  </div>
  <!-- modal -->
  <div class="modal fade" id="addToPlay">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Select a Playlist</h4>
        </div>
        <div class="modal-body">
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p><hr>
          <p>PLAYLIST</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>
</html>